{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "only-warn"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ]
  }
}